<div id='result'>
  The word "<div class="words"><%= @word %></div>" is repeated <div class="times"><%= @count %> time(s)</div> in the sentence "<div class="words"><%= @sentence %></div>" and records a partial match <div class="times"><%= @partial %> time(s)</div>.
</div>

<br><br>

<button id ="btn-try" class="btn"><a href="/">Try Again!</a></button>
