The word '<div class="words-input"><%= @word %></div>' is repeated <%= @count %> time(s) in the sentence '<div class="words-input"><%= @sentence %></div>' and records a partial match <%= @partial %> time(s).
