The word <div class="words_input"><%= @word %></div> is repeated <%= @count %> times in the sentence <div class="words_input"><%= @sentence %></div> and records a partial match <%= @partial %> times.
